div {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin-left: -4px;
}

#container-a {
    background-color: red;
}

#container-b {
    background-color: blue;
}

p{
    display: inline-block;
}