body {
    margin: 0;
}

#container {
    width:100vw; /* view width*/
    height: 100vh; /* view height*/
    background: url('./img/programandoideias.png');
    background-size:cover;
    background-color: blueviolet;
}